body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.background {
    /* Set background image for the entire page */
    background-image: url('images/logo.jpg');
    /* Set background image size to cover the entire body */
    background-size: cover;
    /* Center the background image */
    background-position: center;
    /* Add padding and other styling as needed */
    padding: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    /* Center the heading */
    text-align: center;
    font-size: 32px; /* Adjust the font size as needed */
}

.container {
    /* Add styling for the container */
    max-width: 400px;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    padding: 20px;
    border-radius: 10px;
}

form {
    /* Add styling for the form */
    padding: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}
