* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}

header {
    background: #f4f4f4;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    position: relative;
    display: flex;
    flex-direction: column;
}
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
.contact-info {
    text-align: center;
    margin-top: -20px;
}

.contact-info p {
    margin: 5px 0;
}

.logo {
    text-align: center;
    margin-bottom: -100px;
    margin-top: -50px;
}
.logo img {
    width: 4cm;
    height: 4cm;
    object-fit: contain; /* Ensures the image scales correctly without distortion */
    display: block; /* Ensures the image is on its own line */
}
.logo h1 {
    display: inline;
    font-size: 2em;
    margin-right: 20px;
}


main {
    padding: 20px 0;
    text-align: center;
    color: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero {
    padding: 100px 20px;
    background: url('images/eduinst.jpg') no-repeat center center/cover;
    background-size: cover; 
}

.hero h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #120a35;
    justify-content: left baseline;
}

.info {
    display: flex;
    justify-content: space-around;
    background: #fff;
    padding: 20px;
}

.info-box, .contact-box {
    width: 45%;
    background: #6e0b04;
}
.login {
    cursor: pointer;
    position: relative;
    padding: 10px 24px;
    font-size: 18px;
    color: rgb(193, 163, 98);
    border: 2px solid rgb(193, 163, 98);
    border-radius: 34px;
    background-color: transparent;
    font-weight: 600;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    overflow: hidden;
    text-decoration: none; /* Removes underline */
    display: inline-block; /* Allows padding and margin */
}

.login::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: inherit;
    transform: scale(0); /* Use transform for better performance */
    z-index: -1;
    background-color: rgb(193, 163, 98);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.login:hover::before {
    transform: scale(3); /* Expands the background */
}

.login:hover {
    color: #212121;
    transform: scale(1.1); /* Slightly enlarges the button */
    box-shadow: 0 0px 20px rgba(193, 163, 98, 0.4); /* Adds shadow */
}

.login:active {
    transform: scale(1); /* Resets scale on click */
}

footer {
    background: #490803;
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #ccc;
}
